.bg {
  z-index: -1;

  &--blue {
    @include position(auto, 0, auto, -155px, absolute);
    @include wh(50vw, 900px);

    background-color: $bgLightBlue;
  }

  &--light-yellow {
    @include position(0, 0, 0, 50px, absolute);
    @include wh(1110px, 870px);

    background-color: $bgLightYellow;
  }

  &--yellow {
    background-color: rgba(249, 254, 126, 0.25);

    margin-top: 50px;
    padding: 50px 0;
    width: 100%;
  }
}
