.btn {
  @include border($brdrClrBlack, solid, 0, 1px);
  @include maxWmaxH(220px, 65px);
  @include wh(100vh, 100vh);

  box-shadow: $boxShadowBlack;
  transition: 0.3s all;

  &-fill{
    &--white {
      background-color: $white;
    }

    &__text {
      @include text(700, 18px, $dark);
    }
  }
}
