.btn {
  @include border($brdrClrBlack, solid, 0, 1px);
  @include maxWmaxH(220px, 50px);
  @include wh(100vh, 100vh);

  box-shadow: $boxShadowBlack;
  transition: 0.3s all;

  &-fill{
    &--white {
      background-color: $white;

      &__text {
        @include text(700, 18px, $dark);
      }
    }

    &--dark {
      background-color: $dark;
      border: none;

      &__text {
        @include text(700, 18px, $white);
      }
    }
  }

  &-arrow {
    @include maxWmaxH(38px, 30px);
    @include flexCenterV;

    box-shadow: none;
    border: none;

    &__img {
      @include imgSprite(38px, 5px, $black, cover);
    }
  }

  &-choose {
    @include bgcShadow($white, $boxShadowBlack);
    @include maxWmaxH(170px, 50px);
    @include wh(100%, 100vh);

    transition: 0.3s all;

    &--max-width {
      max-width: 210px;
    }

    &--active {
      color: $white;
      background-color: $brightGreen;
    }
  }
}
