.timer {
  margin-top: 60px;
  padding-left: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-list {
    @include maxWmaxH(102px, 120px);
    @include wh(100vw, 100vh);

    box-shadow: $boxShadowTab;
    background-color: $white;

    &__subtitle {
      @include text(300, 16px, $dark);

      text-align: center;

      &--num {
        @include text(700, 56px, $black);

        margin: 20px 0 5px;
        display: block;
      }
    }
  }
}
