.timer {
  @include flexCenterBet;

  margin-top: 60px;

  &-list {
    @include bgcShadow($white, $boxShadowTab);
    @include maxWmaxH(none, 120px);
    @include wh(100vw, 100vh);

    &__subtitle {
      @include text(300, 16px, $dark);

      text-align: center;

      &--num {
        @include text(700, 56px, $black);

        margin: 20px 8px 5px;
        display: block;
      }
    }

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
