/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.header {
  padding: 45px 0;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 65px;
}
.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  max-width: 740px;
}
.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-nav__link {
  font-weight: 700;
  font-size: 18px;
  color: #303030;
  position: relative;
  margin-right: 45px;
}
.header-nav__link:after {
  left: 0;
  right: auto;
  bottom: 2px;
  top: auto;
  position: absolute;
  content: "";
  width: 100%;
  height: 8px;
  background: #54ED39;
  display: block;
  z-index: -1;
}
.header-nav__link:last-child {
  margin-right: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  min-width: 320px;
  min-height: 100%;
  font-family: "Roboto", sans-serif;
}

ul, li, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: normal;
}

label {
  cursor: pointer;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  overflow: visible;
  height: 0;
}

details, legend {
  display: block;
}

summary {
  display: list-item;
}

b, strong {
  font-weight: bolder;
}

button {
  background-color: transparent;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
  border: none;
  padding: 0;
}

input {
  border-radius: 0;
  outline: none;
  margin: 0;
  border: 0;
}
input::-ms-clear, input::-webkit-search-decoration, input::-webkit-search-cancel-button, input::-webkit-search-results-button, input::-webkit-search-results-decoration {
  display: none;
}

input, textarea {
  outline: none;
  resize: none;
}

textarea, select {
  font-family: inherit;
  font-size: inherit;
}

progress {
  vertical-align: baseline;
}

img, svg, video {
  display: inline-block;
  vertical-align: top;
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

fieldset, img {
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  line-height: inherit;
  font-size: inherit;
  margin: 0;
}

div, dl, dt, dd, pre, form, fieldset, blockquote, th, td, p {
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
[class*=__container] {
  max-width: 1180px;
  max-height: inherit;
  padding: 0 25px;
  margin: 0 auto;
  width: 100%;
}

.title {
  font-weight: 400;
  font-size: 36px;
  color: #303030;
}
.title--center {
  text-align: center;
}
.title--right {
  text-align: right;
}

.btn {
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-radius: 0;
  border-width: 1px;
  max-width: 220px;
  max-height: 50px;
  width: 100vh;
  height: 100vh;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
.btn-fill--white {
  background-color: #ffffff;
}
.btn-fill--white__text {
  font-weight: 700;
  font-size: 18px;
  color: #303030;
}
.btn-fill--dark {
  background-color: #303030;
  border: none;
}
.btn-fill--dark__text {
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}
.btn-arrow {
  max-width: 38px;
  max-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}
.btn-arrow__img {
  width: 38px;
  height: 5px;
  fill: #000000;
  -o-object-fit: cover;
  object-fit: cover;
}
.btn-choose {
  max-width: 170px;
  max-height: 50px;
  width: 100%;
  height: 100vh;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
.btn-choose--max-width {
  max-width: 210px;
}
.btn-choose--active {
  color: #ffffff;
  background-color: #54ED39;
}

.bg {
  z-index: -1;
}
.bg--blue {
  left: auto;
  right: 0;
  bottom: auto;
  top: -155px;
  position: absolute;
  content: "";
  width: 50vw;
  height: 900px;
  background-color: rgba(146, 242, 255, 0.15);
}
.bg--light-yellow {
  left: 0;
  right: 0;
  bottom: 0;
  top: 50px;
  position: absolute;
  content: "";
  width: 1110px;
  height: 870px;
  background-color: rgba(243, 255, 222, 0.45);
}
.bg--yellow {
  background-color: rgba(249, 254, 126, 0.25);
  margin-top: 50px;
  padding: 50px 0;
  width: 100%;
}

.line {
  max-width: 330px;
  max-height: auto;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
  margin: 0 auto;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.slider-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.slider-counter__current {
  font-weight: 700;
  font-size: 48px;
  color: #000000;
  margin-left: 10px;
}
.slider-counter__total {
  font-weight: 400;
  font-size: 24px;
  color: #303030;
  position: relative;
  margin: 0 10px;
  opacity: 0.7;
}
.slider-counter__total::before {
  left: auto;
  right: 32px;
  bottom: 0;
  top: 0;
  position: absolute;
  content: "";
  content: "/";
}
.slider-el {
  max-width: 690px;
  max-height: 390px;
  width: 100vw;
  height: 100vh;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
  margin-top: 15px;
}
.slider-el__img {
  width: 100%;
  height: 100%;
  fill: none;
  -o-object-fit: cover;
  object-fit: cover;
}

.timer {
  margin-top: 60px;
  padding-left: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.timer-list {
  max-width: 102px;
  max-height: 120px;
  width: 100vw;
  height: 100vh;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
.timer-list__subtitle {
  font-weight: 300;
  font-size: 16px;
  color: #303030;
  text-align: center;
}
.timer-list__subtitle--num {
  font-weight: 700;
  font-size: 56px;
  color: #000000;
  margin: 20px 0 5px;
  display: block;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 25px;
  height: 365px;
  left: 60px;
  right: auto;
  bottom: auto;
  top: 240px;
  position: fixed;
  content: "";
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.sidebar-content {
  width: 120px;
  height: 120px;
}
.sidebar-content__subtitle {
  font-weight: 400;
  font-size: 14px;
  color: #303030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  -webkit-transform: rotate(-90deg) translateX(-50px);
  -ms-transform: rotate(-90deg) translateX(-50px);
  transform: rotate(-90deg) translateX(-50px);
}
.sidebar__line {
  width: 1px;
  height: 165px;
  background-color: #303030;
}
.sidebar-link {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.sidebar-link__img {
  width: 24px;
  height: 24px;
  fill: #303030;
  -o-object-fit: cover;
  object-fit: cover;
}
.sidebar-link:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.tab {
  padding: 28px 0 160px;
  position: relative;
}
.tab-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
}
.tab-group__subtitle {
  font-weight: 700;
  font-size: 20px;
  color: #303030;
  margin: 35px 0 0;
}
.tab-content {
  max-width: 850px;
  max-height: 545px;
  width: 100%;
  height: 100vh;
  position: relative;
}
.tab-content__img {
  height: 100%;
}
.tab-content__text {
  font-weight: 300;
  font-size: 24px;
  color: #303030;
  line-height: 36px;
  letter-spacing: auto;
  left: auto;
  right: -180px;
  bottom: -130px;
  top: auto;
  position: absolute;
  content: "";
  max-width: 550px;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  width: 100%;
  height: auto;
  background: rgba(251, 254, 93, 0.8);
  padding: 50px;
}
.tab-menu {
  width: 280px;
  padding: 35px 30px;
  background-color: #fff;
}
.tab-menu__subtitle {
  font-weight: 700;
  font-size: 16px;
  color: #303030;
}
.tab-menu__list {
  margin-top: 35px;
  padding-left: 25px;
  border-left: 1px solid #303030;
}
.tab-menu__item {
  font-weight: 300;
  font-size: 18px;
  color: #303030;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  margin-top: 10px;
  cursor: pointer;
}
.tab-menu__item--active {
  font-weight: 700;
  font-size: 22px;
  color: #303030;
}
.tab-menu__item:first-child {
  margin: 0;
}

.offer {
  padding: 100px 0;
  position: relative;
}
.offer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.offer-content {
  width: 100%;
  max-width: 580px;
}
.offer-content__subtitle {
  font-weight: 700;
  font-size: 20px;
  color: #303030;
  margin-top: 20px;
}
.offer-content__subtitle:first-child {
  margin-top: 0;
}
.offer-content__text {
  font-weight: 300;
  font-size: 18px;
  color: #303030;
  line-height: 24px;
  letter-spacing: auto;
  margin-top: 25px;
}
.offer-content--max-width {
  width: 100%;
  max-width: 330px;
  margin-top: 70px;
}

.calc {
  padding: 50px 0;
}
.calc-content {
  margin-top: 50px;
  background: rgba(146, 242, 255, 0.15);
  padding: 30px;
}
.calc-content__subtitle {
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  text-align: center;
}
.calc-content__line {
  max-width: 490px;
  max-height: auto;
  width: 100vw;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 40px auto;
  display: block;
}
.calc-choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  margin: 30px auto;
}
.calc-choose__input {
  max-width: 225px;
  max-height: 50px;
  width: 100%;
  height: 100vh;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  text-align: center;
  padding: 0 10px;
}
.calc-choose--gender {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.calc-choose--gender::after {
  left: auto;
  right: auto;
  bottom: auto;
  top: 50%;
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../svg/switch.svg") center center/cover no-repeat;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
}
.calc-choose--inputs {
  width: 100%;
  max-width: 745px;
}
.calc-choose--buttons {
  width: 100%;
  max-width: 930px;
}
.calc-total {
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
}
.calc-total__result--num {
  font-size: 42px;
}

.cards {
  padding: 40px 0 50px;
}
.cards__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.card {
  width: 100vh;
  min-height: 450px;
  width: 100%;
  max-width: 320px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 300;
}
.card-content {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.card-content__img {
  width: 100%;
  height: 200px;
  fill: none;
  -o-object-fit: cover;
  object-fit: cover;
}
.card-content__subtitle {
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  padding: 10px 20px;
}
.card-content__text {
  font-weight: 300;
  font-size: 16px;
  color: #303030;
  padding: 10px 20px;
  opacity: 0.8;
}
.card-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 20px;
}
.card-price__subtitle {
  font-weight: 300;
  font-size: 16px;
  color: #303030;
  opacity: 0.8;
}
.card-price__total {
  font-weight: 300;
  font-size: 16px;
  color: #303030;
}
.card-price__total--num {
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}

.order {
  padding: 45px 0;
}
.order-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 70px;
  padding: 0 100px;
}
.order-form__input {
  max-width: 280px;
  max-height: 50px;
  width: 100vw;
  height: 100vh;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  border: none;
  font-size: 18px;
  text-align: center;
  padding: 0 20px;
  outline: none;
}

.promotion {
  padding: 70px 0 240px 0;
  position: relative;
}
.promotion__bg {
  left: 0;
  right: auto;
  bottom: auto;
  top: -50px;
  position: absolute;
  content: "";
  width: 50%;
  height: 500px;
  z-index: -1;
}
.promotion__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.promotion-content {
  width: 50%;
}
.promotion-content__text {
  line-height: 24px;
  letter-spacing: auto;
  font-weight: 300;
  font-size: 20px;
  color: #303030;
  margin-top: 40px;
}
.promotion-content__text--num {
  font-weight: 700;
  font-size: 26px;
  color: #000000;
}
.promotion__timer {
  width: 50%;
}
/*# sourceMappingURL=main.css.map */