.order {
  padding: 45px 0;

  &-form {
    @include flexCenterBet;

    margin-top: 70px;
    padding: 0 100px;

    &__input {
      @include bgcShadow($white, $boxShadowBlack);
      @include maxWmaxH(280px, 50px);
      @include wh(100vw, 100vh);

      text-align: center;
      font-size: 18px;
      padding: 0 10px;
    }
  }
}
