.sidebar {
  @include flexCenterBet;
  @include wh(25px, 365px);
  @include position(60px, auto, auto, 240px, fixed);

  flex-direction: column;

  &-content {
    @include wh(120px, 120px);

    &__subtitle {
      @include text(400, 14px, $dark);

      display: flex;
      white-space: nowrap;
      transform: rotate(-90deg) translateX(-50px);
    }
  }

  &__line {
    @include wh(1px, 165px);

    background-color: $dark;
  }

  &-link {
    transition: all 0.3s ease-in-out;

    &__img {
      @include imgSprite(24px, 24px, $dark, cover);
    }

    &:hover {
      transform: scale(1.2);
    }
  }
}
