@mixin wh($w, $h) {
  width: $w;
  height: $h;
}

@mixin maxWmaxH($maxW, $maxH) {
  max-width: $maxW;
  max-height: $maxH;
}

@mixin minWminH($minW, $minH) {
  min-width: $minW;
  min-height: $minH;
}

@mixin widthMaxW($width, $maxW) {
  width: $width;
  max-width: $maxW;
}

@mixin heightMaxH($height, $maxH) {
  width: $height;
  max-height: $maxH;
}

@mixin widthMinW($width, $minW) {
  width: $width;
  min-width: $minW;
}

@mixin heightMinH($height, $minH) {
  width: $height;
  min-height: $minH;
}
