@import 'variables';
@import 'mixins';

.header {
  padding: 45px 0;

  &__container {
    @include flexCenterBet;
  }

  &__block {
    @include flexCenterBet;

    max-width: 650px;
    width: 100%;
  }

  &-nav {
    @include flexCenterV;

    &__link {
      @include text(700, 18px, $dark);

      position: relative;
      margin-right: 45px;

      &:after {
        @include position(0, auto, 2px, auto, absolute);
        @include wh(100%, 8px);

        background: $brightGreen;
        display: block;
        z-index: -1;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
