<header class="header">
  <div class="header__wrapper">
    <div class="header__block">
      <a href="#" class="header-logo">
        <img src="img/logo.svg" class="header-logo__img" alt="logo">
      </a>
      <nav class="header-nav">
        <a href="#" class="header-nav__link">Доставка харчування</a>
        <a href="#" class="header-nav__link">Другий пункт</a>
      </nav>
    </div>
    <div class="header-button">
      <button type="button" class="btn btn-fill--white">
        <span class="btn-fill__text">Зв'язатися з нами</span>
      </button>
    </div>
  </div>
</header>
