<main class="main">
  <section class="sidebar">
    @include('section-sidebar.html')
  </section>
  <section class="tab">
    @include('section-tab.html')
  </section>
  <span class="line"></span>
  <section class="offer">
    @include('section-offer.html')
  </section>
  <span class="line"></span>
  <section class="calc">
    @include('section-calc.html')
  </section>
  <span class="line"></span>
  <section class="cards">
    @include('section-card.html')
  </section>
  <span class="line"></span>
  <section class="order">
    @include('section-order.html')
  </section>
</main>
