<section class="modal hide">
  <div class="modal__content">
    <form action="#" class="modal-form">
      <button data-close type="button" class="modal-form__close">&times;</button>
      <h3 class="modal-form__title title title--center">Ми зв'яжемося з вами якнайшвидше!</h3>
      <input required placeholder="Ваше ім'я" name="name" type="text" class="modal-form__input">
      <input required placeholder="Ваш номер телефону" name="phone" type="phone" class="modal-form__input">
      <button type="submit" class="btn btn-fill--dark btn-fill--modal">
        <span class="btn-fill--dark__text">Передзвонити мені</span>
      </button>
    </form>
  </div>
</section>
