<div class="bg bg--yellow"></div>
<div class="offer__container">
  <div class="offer-content">
    <h2 class="offer-content__title title">Що ми можемо запропонувати вам?</h2>
    <p class="offer-content__text">
      Наша основна ідея – це правильне харчування. Воно може бути простим та смачним. Ми не просто
      Доставка, ми сервіс! Ми взяли на себе всі розрахунки БЖУ, калорійності, обсягів порцій та інші важливі,
      але нудні аспекти. Вам залишається тільки корисна, ситна та правильна їжа, яку ми привозимо прямо
      під двері.
    </p>
  </div>
  <button type="button" class="btn btn--offer btn-fill--dark">
    <span class="btn-fill--dark__text">Зв'язатися з нами</span>
  </button>
</div>
<div class="offer__container">
  <div class="offer-content offer-content--max-width">
    <h2 class="offer-content__subtitle">Быстро и полезно</h2>
    <p class="offer-content__text">
      Готування будинку займає багато сил, часу та нервів. Ми привозимо їжу одразу на цілий день, і ти можеш
      діяти так, як тобі зручно, не підлаштовуючись ні під кого і будучи впевненим у якості
      продукту!
    </p>
    <h2 class="offer-content__subtitle">Правильный рацион</h2>
    <p class="offer-content__text">
      Ми розробили спеціальне меню, де враховано всі нюанси правильного харчування, від балансу БЖУ до них
      приготування та дроблення раціону.
    </p>
  </div>
  <div class="slider">
    <div class="slider-counter">
      <button type="button" class="btn btn-arrow">
        <svg class="btn-arrow__img">
          <use xlink:href="img/sprite.svg#left"></use>
        </svg>
      </button>
      <span class="slider-counter__current" id="current">03</span>
      <span class="slider-counter__total" id="total">04</span>
      <button type="button" class="btn btn-arrow">
        <svg class="btn-arrow__img">
          <use xlink:href="img/sprite.svg#left"></use>
        </svg>
      </button>
    </div>
    <div class="slider-el">
      <img src="img/slider/pepper.jpg" class="slider-el__img" alt="pepper">
    </div>
    <!-- <div class="slider-el">
        <img src="img/slider/carrot.jpg" class="slider-el__img" alt="carrot">
      </div>
      <div class="slider-el">
        <img src="img/slider/olive-oil.jpg" class="slider-el__img" alt="oil">
      </div>
      <div class="slider-el">
        <img src="img/slider/paprika.jpg" class="slider-el__img" alt="paprika">
      </div> -->
  </div>
</div>
