<h2 class="title title--center">Наше меню на день</h2>
<div class="bg bg--yellow">
  <div class="cards__container">
    <article class="card">
      <div class="card-content">
        <img src="img/tabs/vegy.jpg" class="card-content__img" alt="vegy">
        <h3 class="card-content__subtitle">Меню "Фітнес"</h3>
        <p class="card-content__text">
          Меню "Фітнес" - це новий підхід до приготування страв: більше свіжих
          овочів та фруктів. Продукт активних та здорових людей. Це абсолютно новий продукт з оптимальною
          ціною та високою якістю!
        </p>
      </div>
      <div class="card-price">
        <span class="card-price__subtitle">Ціна:</span>
        <p class="card-price__total">
          <span class="card-price__total--num">229</span>
          грн/день
        </p>
      </div>
    </article>
    <article class="card">
      <div class="card-content">
        <img src="img/tabs/elite.jpg" class="card-content__img" alt="elite">
        <h3 class="card-content__subtitle">Меню “Преміум”</h3>
        <p class="card-content__text">
          У меню "Преміум" ми використовуємо не тільки гарний дизайн упаковки, але
          та якісне виконання страв. Червона риба, морепродукти, фрукти – ресторанне меню без походу
          в ресторан!
        </p>
      </div>
      <div class="card-price">
        <span class="card-price__subtitle">Ціна:</span>
        <p class="card-price__total">
          <span class="card-price__total--num">550</span>
          грн/день
        </p>
      </div>
    </article>
    <article class="card">
      <div class="card-content">
        <img src="img/tabs/post.jpg" class="card-content__img" alt="post">
        <h3 class="card-content__subtitle">Меню "Пісне"</h3>
        <p class="card-content__text">
          Меню "Пісне" - це ретельний підбір інгредієнтів: повна відсутність
          продуктів тваринного походження, молоко з мигдалю, вівса, кокосу чи гречки, правильне
          кількість білків за рахунок тофу та імпортних вегетаріанських стейків.
        </p>
      </div>
      <div class="card-price">
        <span class="card-price__subtitle">Ціна:</span>
        <p class="card-price__total">
          <span class="card-price__total--num">340</span>
          грн/день
        </p>
      </div>
    </article>
  </div>
</div>
