<span class="bg bg--blue"></span>
<div class="tab__container">
  <div class="tab-group">
    <div class="tab-content">
      <img src="img/tabs/vegy.jpg" class="tab-content__img" alt="vegy">
      <span class="tab-content__text">
        Меню "Фітнес" - це новий підхід до приготування страв: більше свіжих овочів та фруктів. Для
        людей, які цікавляться спортом; активних та здорових. Це абсолютно новий продукт з
        оптимальною ціною та високою якістю!
      </span>
    </div>
    <!-- <div class="tab-content">
            <img src="img/tabs/elite.jpg" class="tab-content__img" alt="elite">
            <span class="tab-content__text">
              Меню "Преміум" - ми використовуємо не лише гарний дизайн упаковки, але й якісне виконання страв.
              Червона риба, морепродукти, фрукти – ресторанне меню без походу до ресторану!
            </span>
          </div> -->
    <!-- <div class="tab-content">
            <img src="img/tabs/post.jpg" class="tab-content__img" alt="post">
            <span class="tab-content__text">
              Наше спеціальне "Пісне меню" - це ретельний вибір інгредієнтів:
              повна відсутність продуктів тваринного походження.
              Повна гармонія з собою та природою в кожному елементі! Все буде Ом!
            </span>
          </div>
          <div class="tab-content">
            <img src="img/tabs/vegy.jpg" class="tab-content__img" alt="vegy">
            <span class="tab-content__text">
              Меню "Збалансоване" – це відповідність вашого раціону всім науковим рекомендаціям.
              Ми ретельно прораховуємо вашу потребу в к/б/ж/в та створюємо найкращі страви для вас.
            </span>
          </div> -->
    <div class="tab-menu">
      <h3 class="tab-menu__subtitle">Виберіть стиль живлення</h3>
      <ul class="tab-menu__list">
        <li class="tab-menu__item tab-menu__item--active">Фітнес</li>
        <li class="tab-menu__item">Преміум</li>
        <li class="tab-menu__item">Пісне</li>
        <li class="tab-menu__item">Збалансоване</li>
      </ul>
    </div>
  </div>
  <h3 class="tab-group__subtitle">Живи повним життям!</h3>
</div>
