<span class="promotion__bg bg bg--light-yellow"></span>
<div class="promotion__container">
  <div class="promotion-content">
    <h4 class="promotion-content__title title">Акція для нових клієнтів!</h4>
    <p class="promotion-content__text">
      Ми цінуємо кожного клієнта та пропонуємо вам стати одним із них на дуже вигідних умовах.
      Кожному, хто замовить доставку харчування на тиждень, буде надано знижку у розмірі
      <span class="promotion-content__text--num">20%!</span>
      <br><br>
      Акція закінчиться через...
    </p>
  </div>
  <div class="promotion__timer">
    <h4 class="title title--right">Залишилось до кінця акції:</h4>
    <ul class="timer">
      <li class="timer-list">
        <p class="timer-list__subtitle">
          <span class="timer-list__subtitle--num" id="timerDays"></span>
          днів
        </p>
      </li>
      <li class="timer-list">
        <p class="timer-list__subtitle">
          <span class="timer-list__subtitle--num" id="timerHours"></span>
          годин
        </p>
      </li>
      <li class="timer-list">
        <p class="timer-list__subtitle">
          <span class="timer-list__subtitle--num" id="timerMinutes"></span>
          хвилин
        </p>
      </li>
      <li class="timer-list">
        <p class="timer-list__subtitle">
          <span class="timer-list__subtitle--num" id="timerSeconds"></span>
          секунд
        </p>
      </li>
    </ul>
  </div>
</div>
