// burget menu
$brgrWidth: 30px;
$brgrHeight: 30px;
$brgrLineHeight: 2px;
$brgrColorBlack: #000;

$dark: #303030;
$black: #000000;
$white: #ffffff;
$brightGreen: #54ED39;
$yellowRGBA: rgba(251, 254, 93, 0.8);
$brdrClrBlack: rgba(0, 0, 0, 0.2);
$brdrBottomCard: rgba(0, 0, 0, 0.25);

// box shadow
$boxShadowBlack: 0px 4px 15px rgba(0, 0, 0, 0.2);
$boxShadowTab: 0 4px 30px rgba(0, 0, 0, 0.25);

// bg
$bgLightBlue: rgba(146, 242, 255, 0.15);
$bgLightYellow: rgba(243, 255, 222, 0.45);
