// burget menu
$brgrWidth: 30px;
$brgrHeight: 30px;
$brgrLineHeight: 2px;
$brgrColorBlack: #000;

$dark: #303030;
$white: #ffffff;
$brightGreen: #54ED39;
$brdrClrBlack: rgba(0, 0, 0, 0.2);
$boxShadowBlack: 0px 4px 15px rgba(0, 0, 0, 0.2);
